.nav {
    background-color: #1E1E1E;
    width: 100vw;
    min-width: 320px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}

.h1 {
    color: #F3D52B;
    font-size: 32px;
    font-weight: 700;
    text-align: center;


}

