.productCtn {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: fit-content;
  min-height: 500px;
  min-height: fit-content;
}

.productInfo {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.imgPrice {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}